.ukuran-aktif{
 border: 1px solid red;
}
.ukuran-tidak-aktif{
 border: 1px solid #ccc;
}

.warna-aktif{
 border: 1px solid red;
}
.warna-tidak-aktif{
 border: 1px solid #ccc;
}

.text-label{
 font-size: 13px;
}
.navbar{
 background-color: #ff0000;
 height: 65px;
}
.search-form{
 width: 100%;
}
.form-search{
 margin-left: 25px;
 margin-right: 25px;
}
.form-search2{
 margin-top: 65px;
 visibility: hidden;
}
.nav-link:hover{
 color: white;
}
.form-control{
 padding-left: 25px;
}
.search-box{
 width: 100%;
 display: flex;
 align-items: center;
 background-color: #f5f5f5;
 padding: 6px 12px;
 border-radius: 40px;
}
.fa-search{
 width: 8%; 
 font-size: 1rem;
 color: #343a40;
}
.search-box .search-input{
 width: 92%;
 overflow: hidden;
}
.search-input .input{
 width: 100%;
 border: none;
 outline: none;
 background-color: unset;
 padding: 8px;
}
.icon{
 font-size: 20px;
}
.label-price{
  font-size: 15px;
}
.label-sold{
  font-size: 11px;
  margin-top: 5px;
}
.card-title{
  margin-top: -10px;
}
.card-img-top{
  height: 12rem;
}
.card-excellence:hover{
 background-color: #ff0000; 
 color: #fff !important;
}
.card-excellence:hover .keterangan{ 
 color: #fff !important;
}
.card-excellence:hover .fa{ 
 color: #fff !important;
}
.card-transaksi{
  margin-top: 100px;
}
.nav-search{
 visibility: hidden;
}
.btn-radius{
 border-radius: 10px;
}
#hero{
 margin-top: -65px;
}
#section-content{
 margin-top: -130px;
}
.keterangan{
 font-size: 12px;
 margin-top: -15px;
}
.mt-6{
 margin-top: 100px;
}
.label-profile{
  margin-top: -12px;
}
.paragraf-profile{
  font-size: 13px;
  margin-top: -12px;
}
.img-category{
 width: 5rem;
}
.category{
 width: 80px;
 overflow: hidden;
}
.text-category{
 font-size: 13px;
}
.nav-tabs .nav-link{
  color: inherit;
}
.img-profile{
  width: 7rem;
}
@media (max-width: 576px){
  .brand-text b{
    display: none;
  }
}
@media (max-width: 768px){
  h5.text-produk{
    font-size: 14px;
  }
}
@media (max-width: 800px){
 .nav-search{
   visibility: visible;
 }
 .form-search2{
   z-index: 99;
   visibility: visible;
 }
 .section-content{
   margin-top: -65px;
 }
 .form-search{
   display: none;
 }
 .card-transaksi{
   margin-top: 10px;
 }
}